In [ ]:
import pandas as pd

In [16]:

# Carga CSV
bank_df = pd.read_csv('../datos/bank-additional.csv', sep=',')

In [17]:

# Carga Excel con varias hojas
customer_df_2012 = pd.read_excel('../datos/customer-details.xlsx', sheet_name='2012')
customer_df_2013 = pd.read_excel('../datos/customer-details.xlsx', sheet_name='2013')
customer_df_2014 = pd.read_excel('../datos/customer-details.xlsx', sheet_name='2014')

In [48]:
bank_df.sample(15)

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
31128,31272,28.0,self-employed,SINGLE,university.degree,0.0,1.0,0.0,cellular,57,...,-1.8,"92,893","-46,2","1,334","5099,1",no,4-julio-2017,47.215,-109.747,040df145-8fa4-4b0c-8eab-928a4e36c587
37761,37928,63.0,NaN,MARRIED,NaN,0.0,1.0,0.0,cellular,268,...,-3.4,"92,379","-29,8","0,809","5017,5",no,18-junio-2019,40.284,-69.325,f6a784c3-f250-46fa-92d9-64bc26d65d15
27686,27830,28.0,self-employed,SINGLE,university.degree,0.0,1.0,0.0,cellular,41,...,-1.8,"92,843",-50,"1,64","5099,1",no,9-junio-2017,45.962,-89.187,51c498a7-2f79-4ff0-a904-d6e49cc667c7
16469,16566,NaN,admin.,SINGLE,university.degree,0.0,0.0,1.0,cellular,979,...,1.4,"93,918","-42,7","4,963","5228,1",no,22-noviembre-2017,35.627,-75.446,402827f7-47d7-4687-ba7d-fc70e9120c84
31476,31620,35.0,services,SINGLE,high.school,0.0,0.0,1.0,cellular,184,...,-1.8,"92,893","-46,2","1,327","5099,1",no,29-marzo-2015,38.305,-113.508,d4453c89-b473-4cdf-a99e-2d4bd5f548bf
14439,14536,37.0,admin.,SINGLE,university.degree,NaN,0.0,1.0,cellular,133,...,1.4,"93,918","-42,7","4,961","5228,1",no,2-junio-2015,31.952,-73.550,6b9eacf3-e352-47b6-9d79-851b590f467b
8947,9044,37.0,technician,MARRIED,professional.course,0.0,0.0,0.0,telephone,214,...,1.4,"94,465","-41,8","4,866","5228,1",no,16-agosto-2017,41.041,-68.780,1e0a0129-405f-4803-ba63-7e3be9473b91
40463,40630,34.0,admin.,MARRIED,university.degree,0.0,1.0,0.0,cellular,125,...,-1.1,"94,199","-37,5",NaN,"4963,6",no,28-diciembre-2019,36.735,-83.540,c2127c4a-b315-4732-9c94-6a972c1caba1
749,811,39.0,services,MARRIED,high.school,0.0,0.0,0.0,telephone,193,...,1.1,"93,994","-36,4","4,856",5191,no,30-junio-2019,26.891,-113.506,68663ab0-15a3-4df3-b48e-77bb2f3f576a
2325,2422,36.0,blue-collar,MARRIED,high.school,0.0,0.0,1.0,telephone,100,...,1.1,"93,994","-36,4","4,856",5191,no,28-junio-2018,38.638,-79.545,69a54578-e596-429e-9036-524ce35e9091
14236,14333,55.0,management,SINGLE,NaN,0.0,0.0,1.0,cellular,342,...,1.4,"93,918","-42,7",NaN,"5228,1",no,17-agosto-2015,33.500,-102.193,790d62c0-3174-4cd3-a92b-1db88ed080a0
10808,10905,39.0,blue-collar,DIVORCED,basic.9y,0.0,1.0,0.0,telephone,187,...,1.4,"94,465","-41,8","4,962","5228,1",no,6-febrero-2018,25.893,-99.202,a4e710ba-50b0-4694-9a20-24000efc36f0
15137,15234,25.0,blue-collar,MARRIED,basic.6y,NaN,1.0,0.0,cellular,59,...,1.4,"93,918","-42,7","4,958","5228,1",no,30-septiembre-2016,48.005,-91.874,6bd46906-2fd7-4883-be5c-67bdbab83c5e
27761,27905,36.0,management,MARRIED,university.degree,0.0,1.0,1.0,cellular,94,...,-1.8,"92,843",-50,"1,538","5099,1",no,26-julio-2019,47.906,-75.043,57d37ea7-cc80-439b-a4f3-6a8b892afbdf
32676,32820,29.0,admin.,DIVORCED,high.school,0.0,1.0,1.0,cellular,78,...,-1.8,"92,893","-46,2","1,299","5099,1",no,10-diciembre-2018,34.793,-97.396,a9e6710f-9419-41d9-aefa-97a374d5369a

In [19]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      43000 non-null  int64
 1   age             37880 non-null  float64
 2   job             42655 non-null  object
 3   marital         42915 non-null  object
 4   education       41193 non-null  object
 5   default         34019 non-null  float64
 6   housing         41974 non-null  float64
 7   loan            41974 non-null  float64
 8   contact         43000 non-null  object
 9   duration        43000 non-null  int64
 10  campaign        43000 non-null  int64
 11  pdays           43000 non-null  int64
 12  previous        43000 non-null  int64
 13  poutcome        43000 non-null  object
 14  emp.var.rate    43000 non-null  float64
 15  cons.price.idx  42529 non-null  object
 16  cons.conf.idx   43000 non-null  object
 17  euribor3m       33744 non-null  object
 18  nr.employed     43000 non-null  object
 19  y               43000 non-null  object
 20  date            42752 non-null  object
 21  latitude        43000 non-null  float64
 22  longitude       43000 non-null  float64
 23  id_             43000 non-null  object
dtypes: float64(7), int64(5), object(12)
memory usage: 7.9+ MB

In [20]:
bank_df.describe()

,Unnamed: 0,age,default,housing,loan,duration,campaign,pdays,previous,emp.var.rate,latitude,longitude
count,43000.000000,37880.000000,34019.000000,41974.000000,41974.000000,43000.000000,43000.000000,43000.000000,43000.000000,43000.000000,43000.000000,43000.000000
mean,20651.099047,39.977112,0.000088,0.535998,0.155620,257.739279,2.567233,962.330953,0.174023,0.077128,36.856697,-95.939067
std,11868.770913,10.437957,0.009390,0.498708,0.362499,258.666033,2.772294,187.260394,0.497366,1.573898,7.225948,16.752282
min,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,24.396000,-124.997000
25%,10381.750000,32.000000,0.000000,0.000000,0.000000,102.000000,1.000000,999.000000,0.000000,-1.800000,30.614750,-110.494250
50%,20642.500000,38.000000,0.000000,1.000000,0.000000,179.000000,2.000000,999.000000,0.000000,1.100000,36.761000,-95.899500
75%,30930.250000,47.000000,0.000000,1.000000,0.000000,319.000000,3.000000,999.000000,0.000000,1.400000,43.113250,-81.427750
max,41187.000000,98.000000,1.000000,1.000000,1.000000,4918.000000,56.000000,999.000000,7.000000,1.400000,49.384000,-66.937000

In [21]:
print(bank_df.dtypes.value_counts())

object     12
float64     7
int64       5
Name: count, dtype: int64

In [22]:
bank_df.describe().round(2)

,Unnamed: 0,age,default,housing,loan,duration,campaign,pdays,previous,emp.var.rate,latitude,longitude
count,43000.00,37880.00,34019.00,41974.00,41974.00,43000.00,43000.00,43000.00,43000.00,43000.00,43000.00,43000.00
mean,20651.10,39.98,0.00,0.54,0.16,257.74,2.57,962.33,0.17,0.08,36.86,-95.94
std,11868.77,10.44,0.01,0.50,0.36,258.67,2.77,187.26,0.50,1.57,7.23,16.75
min,0.00,17.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,-3.40,24.40,-125.00
25%,10381.75,32.00,0.00,0.00,0.00,102.00,1.00,999.00,0.00,-1.80,30.61,-110.49
50%,20642.50,38.00,0.00,1.00,0.00,179.00,2.00,999.00,0.00,1.10,36.76,-95.90
75%,30930.25,47.00,0.00,1.00,0.00,319.00,3.00,999.00,0.00,1.40,43.11,-81.43
max,41187.00,98.00,1.00,1.00,1.00,4918.00,56.00,999.00,7.00,1.40,49.38,-66.94

In [ ]:
# Ver cantidad de valores faltantes por columna
missing_values_bank = bank_df.isnull().sum()

# Mostrar solo columnas que tienen al menos un valor nulo
missing_values_bank = missing_values_bank[missing_values_bank > 0]

print("Valores faltantes por columna:")
print(missing_values_bank)

Valores faltantes por columna:
age               5120
job                345
marital             85
education         1807
default           8981
housing           1026
loan              1026
cons.price.idx     471
euribor3m         9256
date               248
dtype: int64

In [32]:
porcentaje_nulos_bank = bank_df.isnull().mean().round(4) * 100
print(porcentaje_nulos_bank)

Unnamed: 0         0.00
age               11.91
job                0.80
marital            0.20
education          4.20
default           20.89
housing            2.39
loan               2.39
contact            0.00
duration           0.00
campaign           0.00
pdays              0.00
previous           0.00
poutcome           0.00
emp.var.rate       0.00
cons.price.idx     1.10
cons.conf.idx      0.00
euribor3m         21.53
nr.employed        0.00
y                  0.00
date               0.58
latitude           0.00
longitude          0.00
id_                0.00
dtype: float64

In [25]:
customer_df_2012.head(5)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
0,0,161770,1,0,2012-04-04,29,089b39d8-e4d0-461b-87d4-814d71e0e079
1,1,85477,1,1,2012-12-30,7,e9d37224-cb6f-4942-98d7-46672963d097
2,2,147233,1,1,2012-02-02,5,3f9f49b5-e410-4948-bf6e-f9244f04918b
3,3,121393,1,2,2012-12-21,29,9991fafb-4447-451a-8be2-b0df6098d13e
4,4,63164,1,2,2012-06-20,20,eca60b76-70b6-4077-80ba-bc52e8ebb0eb

In [26]:
customer_df_2013.head(5)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
0,0,82407,0,1,2013-10-07,29,ef81336c-e41a-46d0-8a30-5d4ac3b836be
1,1,24877,0,0,2013-04-21,32,50b224ac-84b4-42a7-aba9-3e1d1d620479
2,2,78839,1,0,2013-11-25,21,9cb15c53-b647-464a-add9-09cdae04897c
3,3,113859,1,1,2013-01-06,12,f8aaf334-949d-4943-a214-b64fe9c088b4
4,4,147317,0,0,2013-07-10,14,885fe85a-3718-4760-a32a-a57628cf7528

In [27]:
customer_df_2014.tail(10)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
14080,14080,159144,1,0,2014-10-14,1,0490dbb9-e21d-4b59-a402-93756e8f17da
14081,14081,51496,0,0,2014-09-18,12,d9f2c31c-7623-44df-9240-b4514bf21abd
14082,14082,68672,0,2,2014-03-08,22,4eed05de-2a98-4227-b488-32122009b638
14083,14083,73578,0,2,2014-03-11,26,0f0aca88-4088-4fe2-905f-44fb675d9493
14084,14084,9816,2,2,2014-09-18,31,cadadd4b-7ee5-4019-b13a-ca01bb67ca5b
14085,14085,156980,1,2,2014-05-17,7,5f432048-d515-4bb5-9c94-62db451f88d4
14086,14086,139820,0,0,2014-09-29,1,993bbbd6-4dbc-4a40-a408-f91f8462bee6
14087,14087,78470,2,2,2014-10-28,12,d6271666-319d-42c8-a741-cb22bf2c2093
14088,14088,144218,0,1,2014-07-01,9,f67fbfa8-6573-414d-a805-b26a2f1b1ceb
14089,14089,115155,0,2,2014-12-25,7,9727bc06-c11a-461a-a5bb-3d210467cc2a

In [35]:
df_customer_combinados = pd.concat([customer_df_2012, customer_df_2013, customer_df_2014], ignore_index=True)
df_customer_combinados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43170 entries, 0 to 43169
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         43170 non-null  int64
 1   Income             43170 non-null  int64
 2   Kidhome            43170 non-null  int64
 3   Teenhome           43170 non-null  int64
 4   Dt_Customer        43170 non-null  datetime64[ns]
 5   NumWebVisitsMonth  43170 non-null  int64
 6   ID                 43170 non-null  object
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.3+ MB

In [36]:
df_customer_combinados.describe().round(2)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth
count,43170.00,43170.00,43170.00,43170.00,43170,43170.00
mean,7916.02,93227.39,1.00,1.00,2013-05-11 22:09:47.407922176,16.59
min,0.00,5841.00,0.00,0.00,2012-01-01 00:00:00,1.00
25%,3597.00,49608.00,0.00,0.00,2012-07-16 00:00:00,9.00
50%,7194.50,93009.50,1.00,1.00,2013-03-01 00:00:00,17.00
75%,11705.75,136740.50,2.00,2.00,2014-03-28 00:00:00,25.00
max,20114.00,180802.00,2.00,2.00,2014-12-31 00:00:00,32.00
std,5228.25,50498.18,0.82,0.82,NaN,9.24

In [37]:
# Ver cantidad de valores faltantes por columna en el DataFrame combinado
missing_values_customer = df_customer_combinados.isnull().sum()
missing_values_customer

Unnamed: 0           0
Income               0
Kidhome              0
Teenhome             0
Dt_Customer          0
NumWebVisitsMonth    0
ID                   0
dtype: int64

In [38]:
porcentaje_nulos_customer = df_customer_combinados.isnull().mean().round(4) * 100   
porcentaje_nulos_customer

Unnamed: 0           0.0
Income               0.0
Kidhome              0.0
Teenhome             0.0
Dt_Customer          0.0
NumWebVisitsMonth    0.0
ID                   0.0
dtype: float64

In [44]:
df_customer_combinados['ID'].isin(bank_df['id_']).all()
df_customer_combinados['ID'].isin(bank_df['id_']).value_counts()

ID
True     43000
False      170
Name: count, dtype: int64

In [45]:
# registros que esten en df_customer_combinados pero no en bank_df
df_customer_combinados[~df_customer_combinados['ID'].isin(bank_df['id_'])].sample(25)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
841,841,52412,2,1,2012-04-02,15,41596226-b374-4087-a003-f99e066d9b9d
36206,7126,160670,1,2,2014-11-29,14,bfab5c32-dc57-4074-af00-00b34e13f921
906,906,130270,1,2,2012-09-04,20,39031902-f820-4c5f-9c8f-787d5673392c
836,836,127342,2,1,2012-07-13,25,d11641cd-515b-4c25-9242-1375454f676f
194,194,82081,0,2,2012-10-20,7,1b45b45f-19c5-4f74-9028-f1e2391e0c37
24002,3887,29311,2,2,2013-02-11,27,dff31281-fcac-4019-94a1-3430f8128b87
26937,6822,73712,2,1,2013-01-09,6,68dae067-540c-4d95-a9c6-c918d40464c6
24004,3889,75078,2,0,2013-10-02,13,41ab67de-aba6-4228-add4-29d9d5180044
567,567,96703,2,1,2012-07-02,13,420673d7-c7ce-4e5c-a9bb-01f72f1503eb
196,196,60435,1,0,2012-03-02,1,6468b173-4d20-4c06-851c-b3a26c4c1818
315,315,44507,1,0,2012-07-31,25,872b63b6-ba65-4ba1-a21e-a77537436c38
26929,6814,23846,1,2,2013-10-19,27,8a76aaf6-e89f-4643-b18d-02766f4abf0f
313,313,40945,1,2,2012-02-02,11,5d8a0b89-addc-4378-80f9-2ea93b2cdc35
893,893,156591,0,1,2012-01-12,7,334cdf33-128e-4a7c-bccb-5f0f9c01bc22
562,562,69255,0,0,2012-11-22,12,656f276f-e6c3-48ca-8a23-9bd59d852657
452,452,49950,0,1,2012-05-25,14,c8c695ba-e534-4581-b122-872b06a7d509
671,671,170545,2,0,2012-02-21,12,8070c638-5c07-4bad-94c9-3b76c8983145
842,842,139206,0,1,2012-12-02,18,33a5b96b-7054-4b04-b6d0-f9b69af268b5
568,568,169682,1,2,2012-11-15,28,d6de6bcc-9b8d-41c1-b87a-0f057bfda0a8
122,122,28884,2,2,2012-09-10,11,dd697c4c-dbbc-4178-b519-997f82e4ef78
36203,7123,50379,1,2,2014-02-02,24,35c4b70b-65d8-4b8b-ba1f-22bd500e965d
450,450,177308,0,1,2012-09-04,21,c0745982-1d5b-4754-90b2-ca81a936a85b
36208,7128,20006,0,0,2014-02-03,26,ce210e59-2e91-4331-9236-5f21cbb3e617
321,321,80311,0,0,2012-10-04,19,123c63d4-cfe2-4a2a-b8bb-85540d09e949
23999,3884,70124,1,1,2013-08-07,11,df3917c3-a629-47a7-8bcf-f62c0af4faa5

In [49]:
# comprobamos si el dato es 0-1 boleano o numerico indicando una cantidad con la finalidad de transformar la columna
# Valores únicos en la columna 'housing'
print("Valores únicos en 'housing':", bank_df['housing'].unique())

# Valores únicos en la columna 'loan'
print("Valores únicos en 'loan':", bank_df['loan'].unique())

Valores únicos en 'housing': [ 0.  1. nan]
Valores únicos en 'loan': [ 0.  1. nan]

In [ ]:
# convertir las columnas 'default', 'housing' y 'loan' a tipo booleano
bank_df[['default', 'housing', 'loan']] = bank_df[['default', 'housing', 'loan']].astype(bool)
# Verificamos los tipos de datos después de la conversión
print(bank_df.dtypes[['default', 'housing', 'loan']])

default    bool
housing    bool
loan       bool
dtype: object

In [59]:
# Agrupar por 'job' y 'education' y calcular la media de 'age'
tabla_promedios = bank_df.groupby(['job', 'education'])['age'].mean().round(0).reset_index()

# Mostrar la tabla resultante
print(tabla_promedios)

           job            education   age
0       admin.             basic.4y  50.0
1       admin.             basic.6y  43.0
2       admin.             basic.9y  41.0
3       admin.          high.school  38.0
4       admin.           illiterate   NaN
..         ...                  ...   ...
67  unemployed             basic.6y  41.0
68  unemployed             basic.9y  42.0
69  unemployed          high.school  38.0
70  unemployed  professional.course  41.0
71  unemployed    university.degree  37.0

[72 rows x 3 columns]

In [ ]:
# gestion de nulos de la columna age
# paso 1: Agrupamos por 'job' y 'education' y rellenamos los valores nulos en 'age' con la media del grupo
bank_df['age'] = bank_df.groupby(['job', 'education'])['age'].transform(lambda x: x.fillna(round(x.mean(), 0)))
# Paso 2: Imputar los que siguen siendo NaN (grupos sin edad registrada) con la media global
bank_df['age'] = bank_df['age'].fillna(round(bank_df['age'].mean(), 0))

In [72]:
bank_df['age'].head(10)

0    49.159091
1    57.000000
2    37.000000
3    40.000000
4    56.000000
5    45.000000
6    59.000000
7    40.000000
8    24.000000
9    25.000000
Name: age, dtype: float64

In [73]:
#convertimos la columna age de formato float a int
bank_df['age'] = bank_df['age'].astype(int)

In [74]:
bank_df.sample(15)

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,...,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_,age_group
26728,26850,39,services,SINGLE,high.school,False,False,False,cellular,148,...,"93,2",-42,"4,076","5195,8",no,20-julio-2019,48.252,-90.236,0972c9ce-5768-4bf1-beed-86a0ed054855,Adulto
17919,18016,37,admin.,SINGLE,university.degree,False,True,False,cellular,305,...,"93,918","-42,7",NaN,"5228,1",no,24-junio-2015,47.951,-118.218,18a66524-a469-4105-9b0f-107a405ea844,Adulto
14901,14998,26,technician,SINGLE,university.degree,False,True,False,cellular,261,...,"93,918","-42,7","4,958","5228,1",no,24-febrero-2019,44.108,-107.207,f7df063f-0443-49e0-bfb2-08c528c76a0b,Joven
39072,39239,55,admin.,MARRIED,high.school,False,True,False,cellular,106,...,"93,369","-34,8",NaN,"5008,7",yes,14-diciembre-2016,36.661,-76.117,f0da5a39-3771-4b69-be33-534928ea7b10,Mayor
30840,30984,35,blue-collar,MARRIED,basic.6y,False,True,False,cellular,240,...,"92,893","-46,2","1,344","5099,1",no,24-enero-2018,33.847,-115.128,767a2caf-ae98-4126-97b9-95c17857214b,Adulto
6639,6736,46,blue-collar,MARRIED,basic.9y,True,False,False,telephone,167,...,"93,994","-36,4","4,857",5191,no,2-abril-2015,45.869,-72.481,4f20dbb7-a52d-4675-bab7-cdf92d2babdb,Adulto
35254,35398,43,blue-collar,SINGLE,high.school,False,False,False,cellular,504,...,"92,893","-46,2",NaN,"5099,1",no,2-octubre-2016,27.581,-108.839,8aad0b5d-60ba-4a8a-97d9-a179cbe12747,Adulto
42058,29545,40,entrepreneur,MARRIED,NaN,False,True,True,cellular,207,...,"93,075","-47,1","1,405","5099,1",no,2-mayo-2016,40.106,-122.850,fb657311-9981-42e6-b8c5-2b8a33feea1d,Adulto
13522,13619,46,admin.,DIVORCED,university.degree,True,True,False,cellular,330,...,"93,918","-42,7",NaN,"5228,1",no,21-junio-2019,24.530,-95.810,5f050d0c-650f-4c1e-882f-d923101b5455,Adulto
34381,34525,37,services,DIVORCED,high.school,False,True,False,cellular,202,...,"92,893","-46,2",NaN,"5099,1",no,24-agosto-2017,26.600,-96.602,e7a39046-7612-4f9d-82f3-cbda2bfd3a37,Desconocida
17532,17629,52,housemaid,MARRIED,basic.9y,False,True,False,cellular,83,...,"93,918","-42,7",NaN,"5228,1",no,6-diciembre-2017,26.365,-87.162,9aa71f48-4f1c-4608-b644-de38e4842ee9,Mayor
15877,15974,25,admin.,SINGLE,high.school,False,False,False,telephone,184,...,"93,918","-42,7","4,96","5228,1",no,3-abril-2018,43.014,-100.465,b2f05363-4438-44a6-b9d0-5a3784f66315,Joven
11581,11678,36,admin.,SINGLE,high.school,True,True,False,telephone,16,...,"94,465","-41,8","4,959","5228,1",no,4-enero-2016,45.911,-84.718,2d476790-dc5e-456c-8c60-a7f5e9b4ecda,Adulto
34972,35116,54,blue-collar,MARRIED,basic.4y,False,True,True,cellular,192,...,"92,893","-46,2",NaN,"5099,1",no,8-septiembre-2017,44.977,-97.899,267e88b8-2eb1-46f2-b183-0ae2fd9afe40,Mayor
9758,9855,42,admin.,DIVORCED,basic.6y,False,True,False,telephone,219,...,"94,465","-41,8","4,959","5228,1",no,29-agosto-2015,30.170,-77.521,3f273f4d-b4a1-4ec0-8d9b-64c6e40159bd,Desconocida

In [47]:

# Realiza el merge para obtener solo las entradas que tienen coincidencia en ambos DataFrames
bank_cust_df = pd.merge(
    bank_df, 
    df_customer_combinados, 
    left_on='id_', 
    right_on='ID', 
    how='inner'  # Esta opción conserva solo las coincidencias
)

# Resultado
print(f"Número de coincidencias encontradas: {bank_cust_df.shape[0]}")

Número de coincidencias encontradas: 43000